body {
  background: #f9fafb;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.container {
  max-width: 700px;
  margin: 50px auto;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.form-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

input,
textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #1e40af;
}

.submissions {
  display: grid;
  gap: 10px;
}

.card {
  background: #0c0d0f;
  padding: 15px;
  border-radius: 10px;
}
